/*Sidebar and Background Color Adjustments*/

html, body{background-color: #FAF9F0;}

#sidebarExpander{color: white; background-color: #2F8D82;}

#sidebar{border-right: 5px inset #2F8D82; background-color: #2D9784;}

#sidebar a{color: white;}

#sidebar a:hover{background-color: #2F8D82;}

#sidebarCollapser{color: white;}

/*Creates the Moon to Sun animation*/

i{
    position: absolute;
    top: 300px;
    left: 450px;
    width: 50px;
    height: 50px;
    z-index: 5;
    border-radius: 50%;
    background-color: rgb(211, 210, 210);
}

i{
    animation:
        x 10s linear infinite alternate,
        y 10s infinite cubic-bezier(0, 533.11, 1, 533.11);
}

@keyframes x{
    to {
        left: 1050px;
        background-color: rgb(255, 145, 0);
    }
}

@keyframes y{
    to {
        top: 299.5px;
    }
}

/*Formats the content for right-shift on sidebar expansion*/

#main,
#content,
#footer{
    transition: margin-left 1s;
    padding: 20px;
}

/*Formatting for title and its container*/

.titleBox{
    height: 100%;
    background-image: url(assets/images/nightMountains.jpg);
    background-size: cover;
    margin-left: 80px;
}

#websiteTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    text-align: center;
    position: relative;
    top: 35%;
    color: white;
    margin: 0 auto;
}

#contentScroller{
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 5rem;
    float: left;
    position: relative;
    top: 50%;
    margin: 0 50%;
}

/*Formatting for content*/

#content{
    height: 100%;
    transition: .5s;
    margin: 0 auto;
    margin-left: 80px;
}

#contentTitle{
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #FDD161;
    right: 20%;
    width: fit-content;
    padding: 10px 100px;
    margin: 0 auto;
    color: black;
    position: relative;
    top: 20%;
}

#missionStatement{
    padding: 20px 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    width: 500px;
    height: 250px;
    font-size: 1.5rem;
    position: relative;
    border: 10px solid #FDD161;
    right: 20%;
    top: 30%;
    margin: 0 auto;
    text-align: center;
    transition: .5s;
}

/*Expands mission statement border when hovered above*/

#missionStatement:hover{
    border: 20px solid #FDD161;
    transition: .5s;
}

/*Formatting for the slides on the right of the home page*/

#slidesContainer{
    position: relative;
    float: right;
    position: left;
    margin-right: 100px;
    z-index: 2;
}

#slidesContainer p{
    width: 250px;
    height: 250px;
    border: 10px solid #FDD161;
    background-color: #FDD161;
    border-radius: 5px;
    margin: 10px auto;
    transition: ease-in;
}

#slideTop{opacity: 50%;}

#slideBottom{opacity: 40%;}

#slideTop,
#slideCenter,
#slideBottom{background-size: contain;}

/*Formatting for the footer*/

#footer{
    top: 10%;
    position: relative;
    text-align: center;
    background-color: #544F4F;
    margin: 0 auto;
    color: white;
    padding: 40px;
    transition: .5s; 
}