/*Sidebar and Background Color Adjustments*/

html, body{background-color: #FAF9F0;}

#sidebarExpander{color: white; background-color: #2F8D82;}

#sidebar{border-right: 5px inset #2F8D82; background-color: #2D9784;}

#sidebar a{color: white;}

#sidebar a:hover{background-color: #2F8D82;}

#sidebarCollapser{color: white;}

#main,
#content,
#footer{
    transition: margin-left 1s;
    padding: 20px;
}

.titleBox{
    height: 100%;
    background-color: #544F4F;
    margin-left: 80px;
    /*Set Background Image*/
}

#websiteTitle{
    font-size: 6rem;
    text-align: center;
    position: relative;
    top: 38%;
    color: white;
    margin: 0 auto;
}

#contentScroller{
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 5rem;
    float: left;
    position: relative;
    top: 55%;
    margin: 0 50%;
}

#content{
    height: 100%;
    transition: .5s;
    margin: 0 auto;
    margin-left: 80px;
}

#contentTitle{
    font-size: 5rem;
    font-family: Lato;
    text-align: center;
    background-color: #FDD161;
    right: 20%;
    width: fit-content;
    padding: 10px 100px;
    margin: 0 auto;
    color: black;
    position: relative;
    top: 20%;
}

#missionStatement{
    padding: 20px 50px;
    width: 500px;
    height: 250px;
    font-size: 1.5rem;
    position: relative;
    border: 20px solid #FDD161;
    right: 20%;
    top: 30%;
    font-family: Lato;
    margin: 0 auto;
    text-align: center;
    transition: .5s;
}

#missionStatement:hover{
    border-width: 10px;
    transition: .5s;
}

#slidesContainer{
    position: relative;
    float: right;
    position: left;
    margin-right: 100px;
    z-index: 2;
}

#slidesContainer p{
    width: 250px;
    height: 250px;
    border: 10px solid #FDD161;
    background-color: #FDD161;
    border-radius: 5px;
    margin: 20px auto;
    transition: ease-in;
}

#slideTop{
    opacity: 50%;
    
}

#slideCenter{
    
}

#slideBottom{
    opacity: 40%;
    
}

#slideTop,
#slideCenter,
#slideBottom{
    background-size: contain;
}

#footer{
    top: 10%;
    position: relative;
    text-align: center;
    background-color: #544F4F;
    margin: 0 auto;
    color: white;
    font-family: Lato;
    padding: 40px;
    transition: .5s; 
}