/*Sidebar and Background Color Adjustments*/

html, body{background-color: #33447D; height:100%;}

#sidebarExpander{color: white; background-color: transparent;}

#sidebar{border-right: 5px inset #4f5353; background-color: #323837;}

#sidebar a{color: white;}

#sidebar a:hover{background-color: #4f5353;}

#sidebarCollapser{color: white;}

.parallax{
    background-image: "url(assets/images/nightMountains.jpg)";
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotAirBallon{
    height: 100%;
    width: 33%;
    background-color: #4f5353;
    position:relative;
    margin: 0 540px;
}

#overviewTitle{
    position: relative;
    top: 20%;
    text-align: center;
    color: white;
    font-size: 3rem;
}

#footer{
    top: 10%;
    position: relative;
    text-align: center;
    background-color: #544F4F;
    margin: 0 auto;
    color: white;
    font-family: Lato;
    padding: 40px;
    transition: .5s; 
}