/*Sidebar and Background Color Adjustments*/

html, body{background-color: #343539;}

#sidebarExpander{color: white;}

#sidebar{border-right: 5px inset #2F8D82; background-color: #2D9784;}

#sidebar a{color: white;}

#sidebar a:hover{background-color: #2F8D82;}

#sidebarCollapser{color: white;}

/*Statistics Total*/
#statisticsTitle{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 10%;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-size: 4rem;
    background-color: #FDD161;
    color: white;
}

/*Grid layout for statistics content*/

#statisticsContent{
    display: grid;
    grid-template-areas: "techImage" "techStats"
                         "foodImage" "foodStats"
                         "energyImage" "energyStats"
                         "clothingImage" "clothingStats"
                         "transportImage" "transportStats";
    gap: 50px;
    grid-template-columns: 25% 60%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: 20%;
    margin-left: 200px;
}

#statisticsContent img{
    position: relative;
    justify-content: center;
    align-self: center;
    width: 300px;
    height: 300px;
}

#statisticsContent p{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 20px 20px;
    font-size: 1rem;
    text-align: center;
}

#techImage{
    grid-area: "techImage";
    background-color: #33447D;
    border: 5px solid #33447D;
}

#foodStats p,
#energyStats p,
#transportStats p,
#techStats p,
#clothingStats p{
    font-size: 1.2rem;
    position: relative;
    align-self: center;
    justify-content: center;
}

#techStats{grid-area: "techStats";}
#techStats p{
    width: 100%;
    height: wrap;
    color: white;
    background-color: #33447D;
}

#foodImage{
    grid-area: "foodImage";
    background-color: #FDD161;
    border: 5px solid #FDD161;
}

#foodStats{grid-area: "foodStats";}
#foodStats p{
    width: 100%;
    height: wrap;
    color: black;
    background-color: #FDD161;
}

#energyImage{
    grid-area: "energyImage";
    background-color: #2D9784;
    border: 5px solid #2D9784;
}

#energyStats{grid-area: "energyStats";}
#energyStats p{
    width: 100%;
    height: wrap;
    color: white;
    background-color: #2D9784;
}

#clothingImage{
    grid-area: "clothingImage";
    background-color: #FDD161;
    border: 5px solid #FDD161;
}

#clothingStats{grid-area: "clothingStats";}
#clothingStats p{
    width: 100%;
    height: wrap;
    color: black;
    background-color: #FDD161;
}

#transportImage{
    grid-area: "transportImage";
    background-color: #33447D;
    border: 5px solid #33447D;
}

#transportStats{grid-area: "clothingStats";}
#transportStats p{
    width: 100%;
    height: wrap;
    color: white;
    background-color: #33447D;
}