html, body{
    background-color: #343539;
    margin: 0 auto;
    height: 100%;
    scroll-behavior: smooth;
}

/* Media Query for Mobile Devices - Not Working
@media (max-width: 480px) {

    #sidebar{
        height: 100%;
        width: 0;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        border-right: 5px inset #20741F;
        background-color: rgb(56, 157, 78);
        transition: 1s;
    }
    
    #sidebar a{
        padding: 8px 30px 20px 32px;
        font-size: 1.5rem;
        font-family: Lato;
        text-align: right;
        text-decoration: none;
        color: white;
        display: block;
        transition: .3s;
    }
    
    #sidebar a:hover{
        background-color: #58C063;
    }
    
    #sidebarCollapser{
        margin: 10px 0px 0px 190px;
        font-size: 50px;
        background-color: transparent;
        border: 0;
    }

    #websiteTitle{
        position: relative;
        top: 60%;
        color: black;
    }

    #contentScroller{
        position: relative;
        float: left;
        top: 80%;
        color: white;
        font-size: 5rem;
        background-color: transparent;
        border: 0;
        margin: 0 50%;
    }

    #main,
    #content{
        transition: margin-left 1s;
    }

    #missionStatement{
        padding-left: 50px;
        padding-right: 50px;
    }

}
*/

#sidebarExpander{
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 50px;
    float: left;
    position: fixed;
    z-index: 3;
    margin: 0px 0px 0px 10px;
    top: 50%;
    transition: 1s;
}


#sidebar{
    height: 100%;
    width: 80px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 5px inset #2F8D82;
    background-color: #2D9784;
    transition: 1s;
}

#sidebar a{
    visibility: hidden;
    padding: 8px 30px 20px 32px;
    font-size: 1.5rem;
    font-family: Lato;
    text-align: right;
    text-decoration: none;
    color: white;
    display: block;
    transition: .3s;
}

#sidebar a:hover{
    background-color: #2F8D82;
}

#sidebarCollapser{
    margin: 10px 0px 0px 190px;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: 0;
}

/*Statistics Total*/
#statisticsTitle{
    position: relative;
    top: 10%;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-size: 4rem;
    font-family: Lato;
    background-color: #FDD161;
    color: white;
}

/*Grid layout for statistics content*/

#statisticsContent{
    display: grid;
    grid-template-areas: "techImage" "techStats"
                         "foodImage" "foodStats"
                         "energyImage" "energyStats"
                         "clothingImage" "clothingStats"
                         "transportImage" "transportStats";
    gap: 50px;
    grid-template-columns: 25% 60%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: 20%;
    margin-left: 200px;
}

#statisticsContent img{
    width: 300px;
    height: 300px;
}

#techImage{
    grid-area: "techImage";
    border: 5px solid #33447D;
}

#techStats{grid-area: "techStats";}
#techStats p{
    width: 100%;
    height: 20%;
    color: white;
    background-color: #33447D;
}

#foodImage{
    grid-area: "foodImage";
    border: 5px solid #FDD161;
}

#foodStats{grid-area: "foodStats";}
#foodStats p{
    width: 100%;
    height: 20%;
    color: black;
    background-color: #FDD161;
}

#energyImage{
    grid-area: "energyImage";
    border: 5px solid #2D9784;
}

#energyStats{grid-area: "energyStats";}
#energyStats p{
    width: 100%;
    height: 20%;
    color: white;
    background-color: #2D9784;
}

#clothingImage{
    grid-area: "clothingImage";
    border: 5px solid #FDD161;
}

#clothingStats{grid-area: "clothingStats";}
#clothingStats p{
    width: 100%;
    height: 20%;
    color: black;
    background-color: #FDD161;
}

#transportImage{
    grid-area: "transportImage";
    border: 5px solid #33447D;
}

#transportStats{grid-area: "clothingStats";}
#transportStats p{
    width: 100%;
    height: 20%;
    color: white;
    background-color: #33447D;
}

/*Footer formatting*/

#footer{
    top: 10%;
    position: relative;
    text-align: center;
    background-color: #544F4F;
    margin: 0 auto;
    color: white;
    font-family: Lato;
    padding: 40px;
    transition: .5s; 
}