/*Size and Animation Formatting for Sidebar*/

html, body{
    margin: 0 auto;
    height: 100%;
    scroll-behavior: smooth;
}

/*Formats the sidebar for all pages*/

.sidebar{
    float: left;
    position: fixed;
    margin: 0 0 0 15px;
    z-index: 3;
    width: 50px;
    height: 50px;
}

#logo{
    top: 15%;
    margin-right: 17px;
    width: 50px;
    height: 50px;
    transition: 1s;
}

/*Positions sidebar icons next to their corresponding links*/

.house{top: 31%;}

.bulb{top: 62%;}

.world{top: 38.5%;}

.graph{top: 55%;}

/*Places the sidebar expander and collapser in the same position*/

#sidebarExpander,
#sidebarCollapser{
    background-color: transparent;
    border: 0;
    font-size: 50px;
    float: left;
    position: fixed;
    z-index: 3;
    margin: 0px 0px 0px 13px;
    top: 45%;
    transition-delay: 1s;
}

/*Sets transition duration for expander and collapser to prevent overlapping*/

#sidebarExpander{transition: 1s;}

#sidebarCollapser{visibility: hidden; transition: 0.3s;}

/*Creates the shape of the sidebar and formats the links*/

#sidebar{
    height: 100%;
    width: 80px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
}

/*Gives a larger margin to overviewLink to provide space for sidebar collapser and expander icons*/

#overviewLink{margin-bottom: 75px;}

#sidebar a{
    position: relative;
    top: 31%;
    visibility: hidden;
    padding: 8px 30px 20px 32px;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: right;
    text-decoration: none;
    display: block;
    transition: .3s;
}

/* Media Query for monitors (1920x1080)*/

@media screen and (min-width: 1920px) {
    
    /*Fixes spacing between sidebar icons*/

    .world{top: 37%;}

    .graph{top: 50.5%;}

    .bulb{top: 56.5%;}

    #sidebarExpander,
    #sidebarCollapser{top: 43%;}

    /*Increases font size for the statistics content and title*/

    #contentTitle{font-size: 7rem;}

    #statisticsContent p{font-size: 1.2rem;}

    #missionStatement{font-size: 2rem; width:700px; height: 300px;}

    /*Centers the slides*/

    #slidesContainer{top: 13%;}

    /*Fixes positioning of text above hot air ballon and clouds*/

    #clouds{width: 95.9%;}

    #overviewTitle{position: fixed; float: left; left: 35%; top: 5%;}
    #cloud1{top: 25%;}
    #cloud3{top: 65%;}
    #cloud4{top: 125%}
    #cloud5{top: 120%;}
    #cloud6{top: 180%;}
    #cloud7{top: 180%;}
    #cloud8{top: 205%;}
    #cloud9{top: 240%;}
    #cloud10{top: 250%;}
    #cloud11{top: 300%;}
    #cloud12{top: 350%;}

    /*Fixes positioning and increases size for Tips and Tricks page*/

    .information{width: 93.75%;}

    #tipsTitle{top: 350px;}

    .content{font-size: 1.8rem;}
}
