/*Sidebar and Background Color Adjustments*/

html, body{background-color: #FDD161;}

#sidebarExpander{color: white; background-color: transparent;}

#sidebar{border-right: 5px inset #2F8D82; background-color: #33447D;}

#sidebar a{color: black;}

#sidebar a:hover{background-color: #2F8D82;}

#sidebarCollapser{color: white;}

