/*Sidebar and Background Color Adjustments*/

html, body{background-color: transparent; height: 100%;}

#sidebarExpander{color: white; background-color: transparent;}

#sidebar{border-right: 5px inset #2F8D82; background-color: #33447D;}

#sidebar a{color: white;}

#sidebar a:hover{background-color: #2F8D82;}

#sidebarCollapser{color: white;}

/*Sets the ocean as the first background image*/

.parallax{
    background-image: url(assets/images/ocean.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Sets the rose as the second background image*/

.parallax2{
    background-image: url(assets/images/rose.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Sets El Paso as the third background image*/

.parallax3{
    background-image: url(assets/images/elPaso.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Formats the tips and tricks title in the center of the first background*/

#tipsTitle{
    font-family: 'Oswald', sans-serif;
    color: white;
    position: relative;
    float: left;
    left: 38%;
    background-color: #363838;
    padding: 10px 20px;
    top: 250px;
    font-size: 5rem;
}

/*Formats the container for each Tips and Tricks Section*/

.information{
    height: 50%;
    width: 91.7%;
    padding: 10px 20px;
    margin-left: 80px;
    background-color: #363838;
    position:relative;
}

/*Formats the title for each Tips and Tricks section*/

.title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    text-align: center;
}

/*Formats the content for each section*/

.content{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

/*Applies a larger height to the Community section*/

#community{height: 60%;}